resources:
  - ../../base
  - ./secrets/cloudflare-turnstile.secret.yml
  - ./secrets/database.secret.yml
  - ./secrets/mailgun.secret.yml
  - ./secrets/meilisearch.secret.yml
  - ./secrets/strapi.secret.yml
  - ./secrets/generics.secret.yml
  - ./secrets/minio.secret.yml
patches:
  - target:
      kind: Ingress
      name: ${BUILD_REPOSITORY_NAME}-ingress
    patch: |-
      - op: add
        path: /spec/ingressClassName
        value: nginx
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: ${BUILD_REPOSITORY_NAME}-env
    namespace: ${NAMESPACE}
    behavior: merge
    envs:
      - .env
  - name: ${BUILD_REPOSITORY_NAME}-database
    namespace: ${NAMESPACE}
    behavior: merge
    envs:
      - .database.env
  - name: ${BUILD_REPOSITORY_NAME}-meilisearch
    namespace: ${NAMESPACE}
    behavior: merge
    envs:
      - .meilisearch.env
