# To start developing, copy this into .env.local

HOST=0.0.0.0
PORT=1337
STRAPI_URL=http://localhost:1337

APP_KEYS=BGh/fHR+24TtZ3w6AKQaKw==,O3danN35qwbc02IHkNLSRQ==,fnJV6BSwTdEvTsN5D4ukGQ==,gJ0J2lztNZOHwntXJPTTUQ==
API_TOKEN_SALT=t87jxfv7ebrbI2ve7OnENw==
ADMIN_JWT_SECRET=avESCRMtOcfLsGxRQ6z6Pw==
JWT_SECRET=f3dozPu07PgKqGSwINua3Q==
STRAPI_PLUGIN_I18N_INIT_LOCALE_CODE=sk

# Must match REVALIDATE_SECRET_TOKEN in next/.env.local
REVALIDATE_SECRET_TOKEN=<see-readme>
REVALIDATE_NEXT_URL=http://localhost:3000

# Meilisearch — use "Default Admin API Key", see the Meilisearch section in the root README.md
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_ADMIN_API_KEY=<see-readme>

MAILGUN_API_KEY=<contact-PM-if-needed>
MAILGUN_DOMAIN=no-reply-strapi.bratislava.sk
MAILGUN_EMAIL=info@no-reply-strapi.bratislava.sk

# Demo secret key from: https://developers.cloudflare.com/turnstile/get-started/server-side-validation/
# In production next/kubernetes/base/secrets/cloudflare-turnstile.secret.*.yml
CLOUDFLARE_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

# Credentials of the postgres container from docker-compose.yml in the root of the repository
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=password
DATABASE_SCHEMA=public
