@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* noto-sans-regular - latin-ext_latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/noto-sans-v27-latin-ext_latin-regular.woff2') format('woff2'),
      url('/fonts/noto-sans-v27-latin-ext_latin-regular.woff') format('woff');
  }
  /* noto-sans-600 - latin-ext_latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('/fonts/noto-sans-v27-latin-ext_latin-600.woff2') format('woff2'),
      url('/fonts/noto-sans-v27-latin-ext_latin-600.woff') format('woff');
  }
  /* noto-sans-700 - latin-ext_latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/noto-sans-v27-latin-ext_latin-700.woff2') format('woff2'),
      url('/fonts/noto-sans-v27-latin-ext_latin-700.woff') format('woff');
  }
  /* ABCArizonaFlare-Bold */
  @font-face {
    font-family: 'ABC Arizona Flare';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/ABCArizonaFlare-Bold.woff2') format('woff2'),
      url('/fonts/ABCArizonaFlare-Bold.woff') format('woff');
  }

  @supports (-webkit-text-stroke: 4px #446650) {
    .status-code {
      -webkit-text-stroke: 4px #446650;
      -webkit-text-fill-color: transparent;
    }
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    @apply text-foreground;
  }

  /*
    make all of the following elements full height
    so we can sticky the footer to bottom of the page
  */
  html,
  body,
  /* next main div */
  #__next,
  /* <OverlayProvider /> from react-aria */
  #__next > [data-overlay-container='true'] {
    @apply h-full;
  }

  /*
    globaly disable outline for menu item
  */
  .szh-menu__item:focus-visible {
    @apply outline-none outline-transparent !important;
  }

  /* style links in richtext */
  .m-link-inline > a {
    @apply text-primary hover:text-primary-dark underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-foreground-heading font-bold;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  h6 {
    @apply text-h6;
  }
}

:root {
  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-large: 20px;
  --line-height-small: 24px;
  --line-height-default: 24px;
  --line-height-large: 32px;

  --font-size-h6: 16px;
  --font-size-h5: 18px;
  --font-size-h4: 20px;
  --font-size-h3: 24px;
  --font-size-h2: 28px;
  --font-size-h1: 32px;
  --line-height-h6: 24px;
  --line-height-h5: 26px;
  --line-height-h4: 28px;
  --line-height-h3: 32px;
  --line-height-h2: 36px;
  --line-height-h1: 48px;

  --font-size-button: 14px;
  --line-height-button: 24px;
}

@screen md {
  :root {
    --font-size-h6: 18px;
    --font-size-h5: 20px;
    --font-size-h4: 24px;
    --font-size-h3: 28px;
    --font-size-h2: 36px;
    --font-size-h1: 48px;
    --line-height-h6: 24px;
    --line-height-h5: 28px;
    --line-height-h4: 32px;
    --line-height-h3: 36px;
    --line-height-h2: 40px;
    --line-height-h1: 56px;

    --font-size-button: 16px;
    --line-height-button: 24px;
  }
}

/* React menu override style */
.szh-menu {
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
}

.szh-menu-container {
  width: 100%;
}

/* React menu anumations */

@keyframes szh-menu-show-slide-left {
  from {
    opacity: 0;
    transform: translateX(0.75rem);
  }
}

@keyframes szh-menu-show-slide-right {
  from {
    opacity: 0;
    transform: translateX(-0.75rem);
  }
}

@keyframes szh-menu-show-slide-top {
  from {
    opacity: 0;
    transform: translateY(0.75rem);
  }
}

@keyframes szh-menu-show-slide-bottom {
  from {
    opacity: 0;
    transform: translateY(-0.75rem);
  }
}

.szh-menu--state-open.szh-menu--dir-left {
  animation: szh-menu-show-slide-left 0.15s ease-out;
}

.szh-menu--state-open.szh-menu--dir-right {
  animation: szh-menu-show-slide-right 0.15s ease-out;
}

.szh-menu--state-open.szh-menu--dir-top {
  animation: szh-menu-show-slide-top 0.15s ease-out;
}

.szh-menu--state-open.szh-menu--dir-bottom {
  animation: szh-menu-show-slide-bottom 0.15s ease-out;
}

.full-width-canvas-page canvas {
  width: 100% !important;
  height: auto !important;
}
